# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# Next.js static files
/public/static

# Production build
/build

# Temporary files
*.log
*.lock
*.lock.json
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore `.env` files but keep `.env.example`
.env

# Editor settings
.idea/
.vscode/
*.swp
*~

# System files
Thumbs.db
